body, html {
  height: 100%;
  display: grid;
  background-color: black;
}

span.centered {
  margin: auto;
}

h1.main {
  color: black;
  text-shadow: 0.5px 0.5px 2px black; /*#ad080e;*/
  font-size: 2em;
}

div.second {
  display: none;
  height: 100%;
  width: 100%;
  background-color: #ad080e;
}
