body, html {
  height: 100%;
  width: 100%;
  background-color: black !important;
}

body {
  display: none;
}

img.logo {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 500px;
   height: 303px;
   margin-top: -151.1px; /* Half the height */
   margin-left: -250px; /* Half the width */
}

@media screen and (max-width: 420px) {
  img.logo {
     position: absolute;
     top: 50%;
     left: 50%;
     width: 300px;
     height: 180px;
     margin-top: -90px; /* Half the height */
     margin-left: -150px; /* Half the width */
  }
}

span.centered {
  margin: auto;
}

h1.main {
  color: black;
  text-shadow: 0.5px 0.5px 2px black; /*#ad080e;*/
  font-size: 2em;
}

div.second {
  display: none;
  height: 100%;
  width: 100%;
  background-color: #ad080e;
}
